In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/dhanushsiddharthapinjerla/Desktop/datasets/Sales.csv')

In [3]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [4]:
missing_data = df.isnull().sum()
print("Missing values in each column:\n", missing_data)

Missing values in each column:
 year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           12
dtype: int64

In [5]:
df = df.dropna()

In [6]:
df = df.drop_duplicates()

In [9]:
df['make'] = df['make'].str.strip().str.title()

In [10]:
df['model'] = df['model'].str.strip().str.title()

In [11]:
df['color'] = df['color'].str.strip().str.title()

In [13]:
df['state'] = df['state'].str.strip().str.title()

In [16]:
df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')
df['saledate'] = df['saledate'].dt.strftime('%d-%m-%Y')

In [17]:
df['sellingprice'] = pd.to_numeric(df['sellingprice'], errors='coerce').fillna(0)

In [18]:
df['condition'] = pd.to_numeric(df['condition'], errors='coerce').fillna(0).astype(int)

In [19]:
df['body'] = df['body'].str.strip().str.title()

In [20]:
df['trim'] = df['trim'].str.strip().str.title()

In [23]:

df['transmission'] = df['transmission'].str.strip().str.title()

In [24]:
df['seller'] = df['seller'].str.strip().str.title()

In [25]:
df['mmr'] = pd.to_numeric(df['mmr'], errors='coerce').fillna(0)

In [26]:
print(df.head())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          Lx    Suv    Automatic
1  2015    Kia              Sorento          Lx    Suv    Automatic
2  2014    Bmw             3 Series  328I Sulev  Sedan    Automatic
3  2015  Volvo                  S60          T5  Sedan    Automatic
4  2014    Bmw  6 Series Gran Coupe        650I  Sedan    Automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    Ca          5   16639.0  White    black
1  5xyktca69fg561319    Ca          5    9393.0  White    beige
2  wba3c1c51ek116351    Ca         45    1331.0   Gray    black
3  yv1612tb4f1310987    Ca         41   14282.0  White    black
4  wba6b2c57ed129731    Ca         43    2641.0   Gray    black

                                   seller      mmr  sellingprice    saledate
0                 Kia Motors America  Inc  20500.0       21500.0  16-12-2014
1                 Kia Motors America  Inc  20800.0       21500.0  16-12-2014
2  Financial Services Remarketing (Lease)  31900.0       30000.0  15-01-2015
3                 Volvo Na Rep/World Omni  27500.0       27750.0  29-01-2015
4  Financial Services Remarketing (Lease)  66000.0       67000.0  18-12-2014

In [27]:
df.to_csv('cleaned sales data.csv', index=False)